.calculator {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
}

.calc-row {
    display: flex;
    flex: 1;    
}

.zero{
    flex: 0 1 50%;
}

button {
    flex: 1;
    border-color: black;
}

.button-number {
    background-color: rgb(0, 149, 117);   
}

.button-operator {
    background-color: orange;
}

.button-top {
    background-color: rgb(23, 139, 234);
}

